### 1. Library Import

In [ ]:
import pymysql
import csv

### 2. Assign data path

In [ ]:
# Data path
path = "/DATA/csv/"

### 3. Open data

In [ ]:
data = "/amino acid monoisotopic.csv"
f = open(path+data, 'r', encoding = 'utf-8')
rd = csv.reader(f)

### 4. Connect with database(MySQL)

This is part of DataBase connecting, write down your information of DataBase

In [ ]:
conn = pymysql.connect(host = "address of host", 
                       user = "user name", 
                       password = "password",
                       db = "title of DataBase", 
                       charset = 'utf8')

### 5. Insert data to database

In [ ]:
# create cursor
cursor = conn.cursor()

# Assign Insert SQL syntax
sql = "insert into "name of table" ("columns of table") values (%s, %s, %s, %s)"

# Data Insert to SQL per a line (The total number of lines is the same as the number of "values" in the code right above)
for line in rd :
    cursor.execute(sql, (line[0],line[1], line[2], line[3]))

# Close connection with SQL
conn.commit()
conn.close()
f.close()